{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1 class="d-flex justify-content-center display-2">Tasks</h1>
  <br>

  {% if task_list %}
    <div class="d-lg-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
      <div class="col-auto d-flex justify-content-between ps-0 mb-4 mb-lg-0">
        <div class="me-lg-3">
          <div class="dropdown">
            <a href="{% url 'planner:task-create' %}"
               class="btn btn-secondary d-inline-flex align-items-center me-2 dropdown-toggle"
               aria-haspopup="true" aria-expanded="false">
              <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                   xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
              </svg>
              New Task
            </a>

          </div>
        </div>

      </div>
      <form method="get"
            action="{% url 'planner:task-list' %}"
            class="col-12 col-lg-6 d-flex justify-content-lg-end">
        {{ search_form|crispy }}
        <input type="submit" class="btn btn-gray-800" value="Search">
      </form>
    </div>

    {% for task in task_list %}
      {% include "includes/task_list.html" %}
    {% endfor %}
  {% else %}
    <br>
    <span class="h6 fw-bold d-flex justify-content-center">There are no tasks.</span>
  {% endif %}
{% endblock %}
