{% extends "base.html" %}

{% block content %}
  <h1 class="d-flex justify-content-center display-2">{{ task.name }}</h1>
  <br>

  <p class="text-uppercase text-muted h4">Description: 
    <span class="fw-bold">{{ task.description }}</span>
  </p>
  <p class="text-uppercase text-muted h4">Deadline: 
    <span class="fw-bold">{{ task.deadline }}</span>
  </p>
  <p class="text-uppercase text-muted h4">Is completed: 
    {% if task.is_completed %}
      <span class="fw-normal text-success">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="icon me-2 mb-1">
        <path fill-rule="evenodd" d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.207Z" clip-rule="evenodd"></path>
      </svg>

      </span>
    {% else %}
      <span class="fw-normal text-danger">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="icon me-2 mb-1">
        <path fill-rule="evenodd" d="m6.72 5.66 11.62 11.62A8.25 8.25 0 0 0 6.72 5.66Zm10.56 12.68L5.66 6.72a8.25 8.25 0 0 0 11.62 11.62ZM5.105 5.106c3.807-3.808 9.98-3.808 13.788 0 3.808 3.807 3.808 9.98 0 13.788-3.807 3.808-9.98 3.808-13.788 0-3.808-3.807-3.808-9.98 0-13.788Z" clip-rule="evenodd"></path>
      </svg>

      </span>
    {% endif %}
  </p>
  <p class="text-uppercase text-muted h4">Priority: 
    {% if task.priority == "low" or task.priority == "medium" or task.priority == "Low" or task.priority == "Medium" %}
      <span class="fw-bold text-success">{{ task.priority }}</span>
    {% else %}
      <span class="fw-bold text-danger">{{ task.priority }}</span>
    {% endif %}
  </p>
  <p class="text-uppercase text-muted h4">Task type: 
    <span class="fw-bold">{{ task.task_type }}</span>
  </p>
  
<hr>
  <h2 class="d-flex justify-content-center display-3 m-3">Assignees</h2>

    {% if task.assignees.all %}
     <div class="card card-body shadow border-0 table-wrapper table-responsive pb-4">
      <table class="table user-table table-hover align-items-center">
        <thead>
        <tr>
  
          <th class="border-bottom">Username</th>
          <th class="border-bottom">Full name</th>
          <th class="border-bottom">Position</th>
          <th class="border-bottom">Is staff</th>
          <th class="border-bottom">Is superuser</th>
          <th class="border-bottom">Opened Tasks</th>
          <th class="border-bottom">Update</th>
          <th class="border-bottom">Delete</th>
        </tr>
        </thead>
        <tbody>
          {% for worker in task.assignees.all %}
            {% include "includes/worker_list_tr.html" %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <br>
    <span class="h6 fw-bold d-flex justify-content-center">There are no assignees.</span>
  {% endif %}

{% endblock %}
